[submodule "wp-content/themes/astra"]
	path = wp-content/themes/astra
	url = https://github.com/projectestac/wordpress-theme-astra.git
[submodule "wp-content/plugins/astra-addon"]
	path = wp-content/plugins/astra-addon
	url = https://github.com/projectestac/wordpress-astra-addon.git
[submodule "wp-content/mu-plugins/common"]
	path = wp-content/mu-plugins/common
	url = https://github.com/projectestac/wordpress-mu-common.git
[submodule "wp-includes/xtec"]
	path = wp-includes/xtec
	url = https://github.com/projectestac/wordpress-xtec
