[submodule "wp-content/themes/astra"]
	path = wp-content/themes/astra
	url = https://github.com/projectestac/wordpress-theme-astra.git
[submodule "wp-content/plugins/astra-addon"]
	path = wp-content/plugins/astra-addon
	url = https://github.com/projectestac/wordpress-astra-addon.git
[submodule "wp-content/mu-plugins/common"]
	path = wp-content/mu-plugins/common
	url = https://github.com/projectestac/wordpress-mu-common.git
[submodule "wp-includes/xtec"]
	path = wp-includes/xtec
	url = https://github.com/projectestac/wordpress-xtec
[submodule "wp-content/plugins/add-to-any"]
	path = wp-content/plugins/add-to-any
	url = https://github.com/projectestac/wordpress-add-to-any.git
[submodule "wp-content/plugins/author-category"]
	path = wp-content/plugins/author-category
	url = https://github.com/projectestac/wordpress-author-category.git
[submodule "wp-content/plugins/bbpress"]
	path = wp-content/plugins/bbpress
	url = https://github.com/projectestac/wordpress-bbpress.git
[submodule "wp-content/plugins/blogger-importer"]
	path = wp-content/plugins/blogger-importer
	url = https://github.com/projectestac/wordpress-blogger-importer
[submodule "wp-content/plugins/buddypress"]
	path = wp-content/plugins/buddypress
	url = https://github.com/projectestac/wordpress-buddypress.git
[submodule "wp-content/plugins/buddypress-docs"]
	path = wp-content/plugins/buddypress-docs
	url = https://github.com/projectestac/wordpress-buddypress-docs.git
[submodule "wp-content/plugins/buddypress-group-email-subscription"]
	path = wp-content/plugins/buddypress-group-email-subscription
	url = https://github.com/projectestac/wordpress-buddypress-group-email-subscription.git
[submodule "wp-content/plugins/code-snippets"]
	path = wp-content/plugins/code-snippets
	url = https://github.com/projectestac/wordpress-code-snippets.git
[submodule "wp-content/plugins/email-subscribers"]
	path = wp-content/plugins/email-subscribers
	url = https://github.com/projectestac/wordpress-email-subscribers.git
[submodule "wp-content/plugins/google-analyticator"]
	path = wp-content/plugins/google-analyticator
	url = https://github.com/projectestac/wordpress-google-analyticator
[submodule "wp-content/plugins/google-calendar-events"]
	path = wp-content/plugins/google-calendar-events
	url = https://github.com/projectestac/wordpress-gce.git
[submodule "wp-content/plugins/h5p"]
	path = wp-content/plugins/h5p
	url = https://github.com/projectestac/wordpress-h5p.git
