[submodule "wp-content/plugins/xtec-mail/lib"]
	path = wp-content/plugins/xtec-mail/lib
	url = https://github.com/projectestac/mailer.git
[submodule "wp-content/plugins/google-calendar-events"]
	path = wp-content/plugins/google-calendar-events
	url = https://github.com/projectestac/wordpress-gce.git
[submodule "wp-content/plugins/blogger-importer"]
	path = wp-content/plugins/blogger-importer
	url = https://github.com/projectestac/wordpress-blogger-importer
[submodule "wp-content/plugins/google-analyticator"]
	path = wp-content/plugins/google-analyticator
	url = https://github.com/projectestac/wordpress-google-analyticator
[submodule "wp-content/plugins/slideshow-jquery-image-gallery"]
	path = wp-content/plugins/slideshow-jquery-image-gallery
	url = https://github.com/projectestac/wordpress-slideshow-jig
[submodule "wp-content/plugins/tinymce-advanced"]
	path = wp-content/plugins/tinymce-advanced
	url = https://github.com/projectestac/wordpress-tinymce-advanced
[submodule "wp-content/plugins/wordpress-importer"]
	path = wp-content/plugins/wordpress-importer
	url = https://github.com/projectestac/wordpress-importer
[submodule "wp-content/plugins/wordpress-php-info"]
	path = wp-content/plugins/wordpress-php-info
	url = https://github.com/projectestac/wordpress-php-info
[submodule "wp-content/plugins/wordpress-social-login"]
	path = wp-content/plugins/wordpress-social-login
	url = https://github.com/projectestac/wordpress-social-login
[submodule "wp-includes/xtec"]
	path = wp-includes/xtec
	url = https://github.com/projectestac/wordpress-xtec
[submodule "wp-content/mu-plugins/common"]
	path = wp-content/mu-plugins/common
	url = https://github.com/projectestac/wordpress-mu-common.git
[submodule "wp-content/plugins/add-to-any"]
	path = wp-content/plugins/add-to-any
	url = https://github.com/projectestac/wordpress-add-to-any.git
[submodule "wp-content/plugins/wp-recaptcha"]
	path = wp-content/plugins/wp-recaptcha
	url = https://github.com/projectestac/wordpress-recaptcha.git
[submodule "wp-content/plugins/invite-anyone"]
	path = wp-content/plugins/invite-anyone
	url = https://github.com/projectestac/wordpress-invite-anyone.git
[submodule "wp-content/plugins/email-subscribers"]
	path = wp-content/plugins/email-subscribers
	url = https://github.com/projectestac/wordpress-email-subscribers.git
[submodule "wp-content/plugins/xtec-ldap-login"]
	path = wp-content/plugins/xtec-ldap-login
	url = https://github.com/projectestac/wordpress-xtec-ldap-login.git
[submodule "wp-content/plugins/buddypress-docs"]
	path = wp-content/plugins/buddypress-docs
	url = https://github.com/projectestac/wordpress-buddypress-docs.git
[submodule "wp-content/plugins/buddypress-activity-plus"]
	path = wp-content/plugins/buddypress-activity-plus
	url = https://github.com/projectestac/wordpress-buddypress-activity-plus.git
[submodule "wp-content/plugins/import-users-from-csv-with-meta"]
	path = wp-content/plugins/import-users-from-csv-with-meta
	url = https://github.com/projectestac/wordpress-import-users-from-csv-with-meta.git
[submodule "wp-content/plugins/buddypress-group-email-subscription"]
	path = wp-content/plugins/buddypress-group-email-subscription
	url = https://github.com/projectestac/wordpress-buddypress-group-email-subscription.git
[submodule "wp-content/plugins/buddypress"]
	path = wp-content/plugins/buddypress
	url = https://github.com/projectestac/wordpress-buddypress.git
[submodule "wp-content/plugins/widget-visibility-without-jetpack"]
	path = wp-content/plugins/widget-visibility-without-jetpack
	url = https://github.com/projectestac/wordpress-widget-visibility-without-jetpack.git
[submodule "wp-content/plugins/buddypress-like"]
	path = wp-content/plugins/buddypress-like
	url = https://github.com/projectestac/wordpress-buddypress-like.git
[submodule "wp-content/plugins/slideshare"]
	path = wp-content/plugins/slideshare
	url = https://github.com/projectestac/wordpress-slideshare.git
