
img#logo-educacio {
    padding-top: 6px;
    height: 20px;
    background-color: white;
}

img#logo-xtec {
    padding-top: 9px;
    height: 15px;
}

/* Editor Gutenberg */
.interface-interface-skeleton__content {
    margin: 0 5em 0 5em;
}

input,
textarea {
    border-radius: 5px !important;
}

.astra-nodes-layout-container {
    padding-bottom: 0 !important;
}

.astra-nodes-layout-container .astra-nodes-customizer-layout-images {
    padding: 10px 0;
}

.astra-nodes-layout-container .astra-nodes-layout-item .layout-title {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}