
img#logo-educacio {
    padding-top: 6px;
    height: 20px;
    background-color: white;
}

img#logo-xtec {
    padding-top: 9px;
    height: 15px;
}

/* Editor Gutenberg */
.interface-interface-skeleton__body {
    padding: 0 25px 0 25px;
}
