/* Top site bar */
#wpadminbar {
    background-color: #fdf2f2;
    height: 46px;
    padding: 5px 0 5px 30px;
}

.ast-plain-container,
.ast-page-builder-template {
    background-color: #f2f2f2;
}

#wpadminbar #dept-educacio-logo {
    height: 36px !important;
    margin: 0 !important;
}

/* Admin bar color */
#wpadminbar #adminbarsearch::before,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before,
#wpadminbar ul#wp-admin-bar-root-default li a,
#wpadminbar ul#wp-admin-bar-root-default li a span,
#wpadminbar li#wp-admin-bar-login-link-admin-bar a {
    color: #000000;
}

/* Add an icon of a key next to the "Log in" text */
#wpadminbar li#wp-admin-bar-login-link-admin-bar > .ab-item::before {
    color: #000000;
    content: "";
    margin-top: 4px;
}

/* Radius for the menu bar */
.ast-below-header.ast-below-header-bar {
    border-radius: 30px;
}

/* Header */
#ast-desktop-header > div.ast-below-header-wrap > div.ast-below-header-bar.ast-below-header.site-header-focus-item {
    width: calc(100% - 2 * 20px);
    margin: 5px 20px;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: calc(100% - 36px);
}

#ast-desktop-header {
    margin: 0 20px;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div > div > div.site-header-primary-section-right.site-header-section.ast-flex.ast-grid-right-section > div.ast-builder-layout-element.ast-flex.site-header-focus-item.ast-header-html-2 {
    margin-left: 30px;
}

/* Hide the blog name included in the site identity provided by Astra */
.ast-site-title-wrap {
    display: none;
}

/* Text in the header above the blog name */
#client-type {
    text-transform: uppercase;
    font-weight: 500;
    color: #75818D
}

/* Blog name (in the header) */
h1#blog-name {
    color: var(--ast-global-color-0);
    line-height: 1;
}

/* Text in the header under the blog name */
#blog-description {
    color: var(--ast-global-color-1);
    font-size: 16pt;
}

/* Contact information in the header */

#contact-info-1-wrapper {
    text-align: right;
    line-height: 1.1;
}

#contact-info-2-wrapper {
    text-align: right;
}

#contact-info-link-to-map,
#contact-info-page-url {
    color: var(--ast-global-color-1)
}

/* Header buttons */

.detail-container {
    position: relative;
    margin-right: -36px;
}

.detail-container:before {
    left: -40px;
    border-radius: initial;
    box-shadow: none;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1.3fr repeat(2, 1fr);
    gap: 0;
    padding: 0;
}

.grid-item-xl {
    padding-left: 50px !important;
}

.grid-item {
    padding: 20px;
    text-align: center;
    min-width: 100px;
}

.grid-item-1,
.grid-item-5 {
    background-color: var(--ast-global-color-0);
}

.grid-item-1 a,
.grid-item-1 i,
.grid-item-5 a,
.grid-item-5 i {
    color: var(--ast-global-color-0);
    filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item-2,
.grid-item-6 {
    background-color: color-mix(in srgb, var(--ast-global-color-1) 50%, var(--ast-global-color-0) 50%);
}

.grid-item-2 a,
.grid-item-2 i,
.grid-item-6 a,
.grid-item-6 i {
    color: color-mix(in srgb, var(--ast-global-color-1) 50%, var(--ast-global-color-0) 50%);
    filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item-3,
.grid-item-4 {
    background-color: var(--ast-global-color-1);
}

.grid-item-3 a,
.grid-item-3 i,
.grid-item-4 a,
.grid-item-4 i {
    color: var(--ast-global-color-1);
    filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item #header-button-1,
.grid-item #header-button-2,
.grid-item #header-button-3,
.grid-item #header-button-4,
.grid-item #header-button-5,
.grid-item #header-button-6 {
    font-size: 30px;
}

/* Breadcrumbs */
div.ast-breadcrumbs-wrapper {
    margin-left: 20px;
    margin-top: 20px;
}

/* Header slideshow */
#astra-nodes-header-block {
    padding: 0 var(--wp--preset--spacing--60);
    margin-top: -100px;
    margin-bottom: 30px;
    border-radius: 0 0 30px 30px;
}

/* Header menu */
.ast-below-header-wrap .ast-below-header-bar {
    position: relative; /* To make the z-index work */
    z-index: 1;
}

/* Front page cards */
#front-page-cards-container {
    padding: var(--wp--preset--spacing--60);
}

.front-page-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    max-height: 400px;
}

.front-page-card > .astra-nodes-card-title h3 {
    filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.front-page-card > .astra-nodes-card-title {
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.front-page-card > .astra-nodes-card-body {
    margin: 0;
    flex: 1;
}

.front-page-card h3 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: white;
    font-size: 28px;
}

.front-page-card img {
    border-radius: 0 0 30px 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Front page notice */
#front-page-notice-container-no-image {
    display: flex;
    margin: 40px;
}

#front-page-notice-container-no-image > div {
    border-radius: 30px;
}

#front-page-notice-image-no-image {
    border-radius: 30px;
    height: 350px;
    width: 100%;
    object-fit: cover;
    padding: 60px;
    background-position: center;
}

#front-page-notice-container {
    display: flex;
    margin: 37px;
    border-radius: 30px;
}

#front-page-notice-image {
    border-radius: 30px;
    height: 350px;
    object-fit: cover;
}

#front-page-notice-body {
    text-align: justify;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    padding-top: 30px;
    margin-left: 100px;
}

#front-page-notice-pre-title {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#front-page-notice-title {
    margin: 10px 0;
}

#front-page-notice-content > * {
    font-family: "Roboto", sans-serif;
}

/* Front page news */
#front-page-news-carousel-container {
    padding: 0 40px 0 40px;
}

/* Footer */
#astra-nodes-copyright {
    text-align: center;
}

/* Customizer: Palettes section */
.astra-nodes-palette-container {
    width: 140px;
    float: left;
}

.astra-nodes-palette-item {
    width: 25%;
    height: 48px;
    display: inline-block;
}

.astra-nodes-palette-footer {
    color: #9ca3af;
    padding: 0 3px 5px 3px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
}

.astra-nodes-palette-footer input {
    display: none;
}
