/* Top site bar */
#wpadminbar {
    background-color: #f2f2f2;
    height: 64px;
    padding: 15px 30px 15px 30px;
}

.ast-plain-container,
.ast-page-builder-template,
div.sidebar-main li:hover {
    background-color: #f2f2f2;
}

/* Admin bar color */
#wpadminbar #adminbarsearch::before,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before,
#wpadminbar ul#wp-admin-bar-root-default li a,
#wpadminbar ul#wp-admin-bar-root-default li a span,
#wpadminbar li#wp-admin-bar-login-link-admin-bar a {
    color: #000000;
}

/* Add an icon of a key next to the "Log in" text */
#wpadminbar li#wp-admin-bar-login-link-admin-bar > .ab-item::before {
    color: #000000;
    content: "";
    margin-top: 4px;
}

/* Header */

img.custom-logo {
    max-width: 266px;
    max-height: 143px;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: calc(100% - 36px);
}

#ast-desktop-header {
    margin: 0 20px;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div > div > div.site-header-primary-section-right.site-header-section.ast-flex.ast-grid-right-section > div.ast-builder-layout-element.ast-flex.site-header-focus-item.ast-header-html-2 {
    margin-left: 30px;
}

/* Hide the blog name included in the site identity provided by Astra */
.ast-site-title-wrap {
    display: none;
}

/* Text in the header above the blog name */
#client-type {
    text-transform: uppercase;
    color: #75818D;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
}

/* Blog name (in the header) */
h1#blog-name {
    color: var(--ast-global-color-0);
    line-height: 1;
    font-size: 36px !important;
}

/* Text in the header under the blog name */
#blog-description {
    color: var(--ast-global-color-1);
    font-size: 16pt;
}

/* Contact information in the header and in the footer */

header #contact-info-1-wrapper {
    text-align: left;
    line-height: 1.1;
}

header #contact-info-2-wrapper {
    text-align: left;
    margin-top: 5px;
}

#ast-desktop-header a.grid-item {
    width: 90px;
    height: 90px;
}

#ast-desktop-header a.grid-item span.astra-nodes-header-icon-link {
    line-height: 1;
    margin-top: 8px;
}

#ast-mobile-header a.grid-item {
    overflow: hidden;
}

footer #contact-info-1-wrapper {
    text-align: left;
    line-height: 1.1;
}

footer #contact-info-2-wrapper {
    text-align: left;
}

#contact-info-link-to-map,
#contact-info-page-url {
    color: var(--ast-global-color-1);
}

a#contact-info-link-to-map {
    color: var(--ast-global-color-0);
}

/* Header buttons */

.detail-container {
    position: relative;
    margin-right: -36px;
}

.detail-container:before {
    left: -40px;
    border-radius: initial;
    box-shadow: none;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
}

.grid-item-xl {
    padding-left: 50px !important;
}

.grid-item {
    text-align: center;
    padding: 5px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 90px !important;
    align-items: center;
}

.grid-item-3 {
    border-radius: 0 30px 0 0;
}

.home .grid-item-6 {
    border-radius: 0 !important;
}

.home.buddypress .grid-item-6,
.grid-item-6 {
    border-radius: 0 0 30px 0 !important;
}

.grid-item-1,
.grid-item-5 {
    background-color: var(--ast-global-color-0);
}

.grid-item-1 span,
.grid-item-1 i,
.grid-item-5 span,
.grid-item-5 i {
    color: var(--ast-global-color-0);
    filter: invert(0) grayscale(1) brightness(4) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item-2,
.grid-item-6 {
    background-color: color-mix(in srgb, var(--ast-global-color-1) 50%, var(--ast-global-color-0) 50%);
}

.grid-item-2 span,
.grid-item-2 i,
.grid-item-6 span,
.grid-item-6 i {
    color: color-mix(in srgb, var(--ast-global-color-1) 50%, var(--ast-global-color-0) 50%);
    filter: invert(0) grayscale(1) brightness(4) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item-3,
.grid-item-4 {
    background-color: var(--ast-global-color-1);
}

.grid-item-3 span,
.grid-item-3 i,
.grid-item-4 span,
.grid-item-4 i {
    color: var(--ast-global-color-1);
    filter: invert(0) grayscale(1) brightness(4) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
}

.grid-item #header-button-1,
.grid-item #header-button-2,
.grid-item #header-button-3,
.grid-item #header-button-4,
.grid-item #header-button-5,
.grid-item #header-button-6 {
    font-size: 24px;
}

/* Breadcrumbs */
div.ast-breadcrumbs-wrapper {
    margin-left: 20px;
    margin-top: 20px;
}

/* Header slideshow */
#astra-nodes-header-block {
    border-radius: 0 0 30px 30px;
    padding: 0 var(--wp--preset--spacing--60);
    margin: -93px -4px 20px -5px;
}

/* Front page cards */

#front-page-cards-container {
    padding: 16px var(--wp--preset--spacing--60);
}

#front-page-cards-container #card-color-1 {
    background-color: var(--ast-global-color-0);
}

#front-page-cards-container #card-color-2 {
    background-color: color-mix(in srgb, var(--ast-global-color-1) 33%, var(--ast-global-color-0) 66%);
}

#front-page-cards-container #card-color-3 {
    background-color: color-mix(in srgb, var(--ast-global-color-1) 66%, var(--ast-global-color-0) 33%);
}

#front-page-cards-container #card-color-4 {
    background-color: var(--ast-global-color-1);
}

.front-page-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    max-height: 400px;
}

.front-page-card > .astra-nodes-card-title h2 {
    color: var(--ast-global-color-1);
    filter: invert(1) grayscale(1) brightness(1.3) contrast(9000);
    mix-blend-mode: luminosity;
    opacity: 0.85;
    font-family: 'Poppins', sans-serif;
}

.front-page-card > .astra-nodes-card-title {
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.front-page-card > .astra-nodes-card-body,
.front-page-card > .astra-nodes-card-body > a > .astra-nodes-card-body-empty {
    min-height: 200px;
    margin: 0;
    flex: 1;
}

.front-page-card h2 {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: white;
    font-size: 28px;
    text-align: center;
    line-height: 1;
}

.front-page-card img {
    border-radius: 0 0 30px 30px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Front page notice */

#front-page-notice-container {
    display: flex;
    border-radius: 30px;
    min-height: 350px !important;
    height: auto;
    background-color: #ffffff;
    margin: 0 16px 0 16px;
}

#front-page-notice-container a {
    width: 100%;
}

#front-page-notice-container a div {
    border-radius: 30px;
}

body.astra-nodes-boxes #front-page-notice-container {
    margin: 0 32px 24px 36px;
}

body.astra-nodes-sidebar_news #front-page-notice-container {
    margin: 0 16px 24px 16px;
}

#front-page-notice-image-container {
    border-radius: 30px;
}

#front-page-notice-image {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.front-page-notice-image-text #front-page-notice-image {
    border-radius: 30px 0 0 30px;
}

#front-page-notice-text {
    flex: 2;
    text-align: justify;
    min-height: 300px;
    max-height: 350px;
    padding: 40px 40px 20px 40px;
    margin-left: 0;
    align-content: center;
    border-radius: 0 30px 30px 0;
    overflow: auto;
}

#front-page-notice-pre-title {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#front-page-notice-title {
    margin: 10px 0;
}

#front-page-notice-content > * {
    font-family: "Roboto", sans-serif;
}

/* Front page news */

#front-page-news-carousel-container {
    padding: 24px 16px 0 16px;
}

body.astra-nodes-boxes #front-page-news-carousel-container {
    padding-top: 0;
}

body.astra-nodes-sidebar_news #front-page-news-carousel-container {
    padding: 0 16px 0 16px;
}

/* Footer */
#astra-nodes-copyright {
    text-align: center;
}

/* Customizer: Palettes section */

.astra-nodes-palette-container {
    width: 140px;
    float: left;
}

.astra-nodes-palette-item {
    width: 25%;
    height: 48px;
    display: inline-block;
}

.astra-nodes-palette-footer {
    color: #9ca3af;
    padding: 0 3px 5px 3px;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
}

.astra-nodes-palette-footer input {
    display: none;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div {
    margin-top: 15px;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div {
    width: calc(100% - 16px);
}

body:not(.home) .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
    border-radius: 30px;
}

.home .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
    border-radius: 30px 30px 0 0;
}

div.sidebar-main {
    background-color: #fff !important;
    padding: 32px;
    border-radius: 30px !important;
    margin-top: 0 !important;
    overflow: auto;
}

.ast-header-search .ast-search-menu-icon.slide-search .search-form,
.ast-header-search .ast-search-menu-icon.ast-inline-search .search-form {
    border-radius: 40px;
}

input#search-field:focus {
    border-radius: 30px;
}

div#postal-code-city,
#phone-number,
#email-address {
    margin-bottom: 10px;
}

h2:has(span#blog-description) {
    margin: 0;
    padding: 0 0 0 0;
    line-height: 1.5rem;
}

#slider-height-container .wp-block-getwid-media-text-slider__slides-wrapper .wp-block-getwid-media-text-slider-slide-content__media {
    background-image: linear-gradient(to right, var(--ast-global-color-1), var(--ast-global-color-0));
}

.getwid-post-carousel__post-title {
    font-size: 24px;
}

.wp-block-getwid-post-carousel__post-thumbnail {
    margin-bottom: 0;
}

.wp-block-getwid-post-carousel__post-thumbnail img {
    border-radius: 30px 30px 0 0;
}

.wp-block-getwid-post-carousel__post-content-wrapper {
    padding: 0 32px 32px 32px;
    margin-top: 25px;
}

.slick-list.draggable {
    border-radius: 0 0 30px 30px;
}

.slick-slide {
    background: white;
    border-radius: 0 0 30px 30px;
}

.wp-block-getwid-post-carousel.has-slides-gap-small .slick-slide {
    border-radius: 30px;
}

.slick-next:before,
.slick-prev:before {
    font-size: 42px;
    line-height: 1;
    opacity: 1;
}

.wp-block-getwid-content-slider.has-arrows-inside .slick-next,
.wp-block-getwid-images-slider.has-arrows-inside .slick-next,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-next,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-next,
.wp-block-getwid-post-slider.has-arrows-inside .slick-next {
    right: 0;
}

.wp-block-getwid-content-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-images-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-media-text-slider.has-arrows-inside .slick-prev,
.wp-block-getwid-post-carousel.has-arrows-inside .slick-prev,
.wp-block-getwid-post-slider.has-arrows-inside .slick-prev {
    left: -25px;
}

/* Getwid tabs */

div.wp-block-getwid-tabs a.ui-tabs-anchor {
    text-decoration: none;
    font-size: 1.2em;
}

.wp-block-getwid-tabs__tab-content {
    border: 2px solid #ddd;
    border-radius: 20px 20px 0 0;
}

div.wp-block-getwid-tabs ul.wp-block-getwid-tabs__nav-links {
    margin: -2px;
}

div.wp-block-getwid-tabs ul.wp-block-getwid-tabs__nav-links li.wp-block-getwid-tabs__nav-link.ui-tabs-active {
    background: #ffffff;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-radius: 10px 10px 0 0;
}

.ast-breadcrumbs {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
}

.ast-post-format-.single-layout-1 {
    background-color: white;
    padding: 30px !important;
    border-radius: 30px;
}

#secondary {
    margin: 2em 0 2.5em;
}

#secondary li {
    margin-bottom: 0 !important;
}

div#content {
    margin-left: 16px;
    margin-right: 16px;
}

#comments .submit,
.search .search-submit {
    padding: 16px 32px;
    border-radius: 40px;
    line-height: 1.85714285714286;
    border: 0;
    font-size: 18px;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content {
    aspect-ratio: 4 / 1;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content-wrapper {
    margin-top: 16%;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__media-overlay {
    opacity: 0 !important;
}

#wpadminbar #adminbarsearch::before,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before,
#wpadminbar ul#wp-admin-bar-root-default li a,
#wpadminbar ul#wp-admin-bar-root-default li a span,
#wpadminbar li#wp-admin-bar-login-link-admin-bar a {
    color: #646464;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
    color: #646464;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
    border-radius: 11px;
}

.ast-page-builder-template.archive.ast-left-sidebar .ast-row article,
.site-main > article,
.site-main {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.site-main > article {
    margin-left: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}

.site-main {
    margin-right: 20px;
}

body.astra-nodes-boxes .site-main {
    padding: 0;
    margin: 0 0 24px 0;
}

.ast-page-builder-template .entry-header {
    margin-top: 0;
}

.ast-page-builder-template .ast-archive-description {
    margin: 0 auto 1em 2em;
}

div.ast-breadcrumbs-wrapper {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 21px;
}

.entry-content h3 {
    font-size: 26px !important;
}

#ast-scroll-top {
    font-size: 20px !important;
    border-radius: 20px;
}

.secondary .calendar_wrap #today,
.ast-progress-val span {
    border: var(--ast-global-color-0) 2px solid;
    border-radius: 30px;
    background: none !important;
}

.slick-next:before {
    content: "\f105";
    font-family: 'FontAwesome';
    background-color: var(--ast-global-color-1);
    border-radius: 25px;
    font-size: 30px;
    padding: 8px 18px;
    color: white !important;
    text-align: center;
    text-shadow: none;
}

.slick-prev:before {
    content: "\f104";
    font-family: 'FontAwesome';
    background-color: var(--ast-global-color-1);
    border-radius: 25px;
    font-size: 30px;
    padding: 8px 18px;
    color: white !important;
    text-align: center;
    text-shadow: none;
}

.grid-item:hover {
    filter: brightness(0.9);
}

.grid-item:hover span,
.grid-item:hover i,
.grid-item span:hover,
.grid-item i:hover,
.grid-item span:hover,
.grid-item i:hover {
    opacity: 1 !important;
}

.widget_calendar #today {
    color: var(--ast-global-color-0);
}

.dropdown-menu-toggle span.ast-icon.icon-arrow {
    color: var(--ast-global-color-0);
}

.accordion li a {
    color: var(--ast-global-color-1) !important;
}

span[itemprop="name"] {
    color: var(--ast-global-color-1) !important;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div {
    margin-top: 32px;
}

.comments-area textarea#comment,
.comments-area .ast-comment-formwrap input[type="text"] {
    border-radius: 10px;
    border-color: #dbdbdb;
}

.trail-items li::after {
    padding: 0 1em;
    content: "/";
    font-family: 'FontAwesome';
    font-size: 20px;
    color: var(--ast-global-color-0);
}

.ast-post-format-.blog-layout-4.ast-article-inner {
    background-color: white;
    border-radius: 30px;
}

/* All cards must have the same height */
.archive .ast-article-post .ast-article-inner,
.blog .ast-article-post .ast-article-inner {
    height: 100%;
}

div.sidebar-main ul.accordion li {
    padding: 10px 0;
}

div.sidebar-main aside.buddypress ul#groups-list li {
    padding: 0;
}

.astra-nodes-header-icon-link {
    font-weight: 600;
}

span[itemprop="name"] {
    text-transform: inherit !important;
}

#comments .submit,
.search .search-submit {
    padding: 12px 32px !important;
    border-radius: 40px;
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
textarea {
    border-radius: 40px;
}

.ast-search-box.full-screen {
    background: rgb(242 242 242 / 94%);
}

.ast-search-box.full-screen .search-submit,
.ast-search-box.full-screen #close,
.ast-search-box.header-cover .search-submit {
    color: var(--ast-global-color-0);
}

.ast-search-box.full-screen .ast-search-wrapper .large-search-text,
.ast-search-box.full-screen .search-field,
.ast-search-box.header-cover .search-field {
    color: #646464;
}

input.search-field::placeholder {
    color: #646464 !important;
}

.search .ast-archive-description {
    max-width: 1200px;
    width: 100%;
    text-align: left;
    padding: 0 3em 1em 0;
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 16px;
}

.ast-archive-description .ast-archive-title {
    font-size: 1.85714rem;
}

.archive.category #secondary {
    margin: 0 0 2.5em;
}

.archive.category #primary {
    margin: 0;
}

body.archive .ast-archive-description {
    padding: 0 !important;
}

.ast-archive-description {
    margin-bottom: 1.5em;
}

.archive.category .ast-left-sidebar #primary {
    padding-left: 0 !important;
}

#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    background: #ffffff;
    border-radius: 10px;
}

.wp-block-getwid-media-text-slider .slick-prev:before,
.wp-block-getwid-media-text-slider .slick-next:before {
    color: var(--ast-global-color-0) !important;
    background-color: white !important;
}

#front-page-notice-title {
    text-align: left;
}

.home .addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    display: none
}

aside input {
    width: 100% !important;
}

div.sidebar-main li.current-menu-item {
    background-color: #f2f2f2 !important;
    border-right: 0 !important;
    color: var(--ast-global-color-0) !important;
}

div.sidebar-main li:hover {
    background-color: transparent !important;
}

.accordion-toggle i {
    color: var(--ast-global-color-0) !important;
}

#secondary li {
    line-height: 1em;
}

.accordion li ul li {
    border-bottom: 0 !important;
}

.accordion li a {
    display: flex !important;
    justify-content: space-between !important;
}

.ast-search-box.full-screen #close {
    top: 2em !important;
}

#wpadminbar .menupop .ab-sub-wrapper {
    background: #ffffff;
}

/* Imported styles for BuddyPress and bbpress */

.widget.buddypress ul.item-list img.avatar {
    width: 3em !important;
    height: 3em !important;
}

#buddypress #item-body form#whats-new-form {
    padding-top: 15px;
    padding-bottom: 20px;
}

#buddypress form#whats-new-form .activity-greeting {
    padding-top: 15px;
}

#buddypress form#whats-new-form #whats-new-content {
    padding: 0 0 0 10px;
}

li.feed {
    display: none;
}

#groups-list {
    list-style-type: none;
}

.widget_bp_groups_widget #groups-list {
    margin-left: 0;
}

.widget_bp_groups_widget #groups-list .item {
    display: none;
}

#activity-filter-select {
    display: none;
}

body.buddypress div#primary main#main article {
    width: 100% !important;
}

#buddypress div#object-nav.item-list-tabs ul li.current {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 0px !important;
}

#buddypress div#object-nav.item-list-tabs ul li {
    border-bottom: 1px solid #CCCCCC !important;
}

#whats-new {
    height: 10em !important;
}

.widget_bp_core_members_widget .vcard div.item-title,
.widget_bp_core_members_widget .vcard div.item-meta {
    display: none;
}

.widget_bp_core_members_widget #members-list {
    margin-left: 0;
}

.widget.buddypress div.item-options {
    padding: 0 !important;
    padding-bottom: 1em !important;
    margin: 0 !important;
}

div.bbp-template-notice.info {
    display: none;
}

.bbp-template-notice {
    display: none;
}

.bbp-topic-permalink {
    font-size: 1.5em;
}

#bbp_topic_content_ifr {
    border: 1px solid #dedede;
}

#bbpress-forums {
    font-size: 1em !important;
}

.bbp-pagination-count {
    font-size: 0.8em;
}

#bbpress-forums li.bbp-header {
    background: #f3f3f3 !important;
}

ul.bbp-topics, .bbp-topic-form {
    border: 1px solid #D5D5D5 !important;
}

#bbpress-forums > #subscription-toggle {
    display: none;
}

#buddypress div.item-list-tabs#subnav {
    margin: 0 !important;
    border-left: 1px solid #CCCCCC;
    background-color: #eee !important;
}

#buddypress div.item-list-tabs ul li.selected a {
    opacity: 1 !important;
}

.widget.buddypress #friends-list li,
.widget.buddypress #groups-list li,
.widget.buddypress #members-list li {
    clear: inherit !important;
}

/* End of styles for BuddyPress and bbpress */

/* Style for socialmedia plugin */
.fa-2-5x {
    font-size: 2.5em !important;
}

.grid-item a {
    max-width: 85px;
    line-height: 1rem;
    margin-top: 10px;
}

.gt_float_switcher {
    border-radius: 40px !important;
}

#gt_float_wrapper {
    bottom: 70px !important;
}

.gt_float_switcher img {
    display: none !important
}

.slick-dots li button:before {
    font-size: 15px;
}

.home div#content {
    margin-right: 0;
}

img#logo-educacio {
    height: 30px;
}

img#logo-xtec {
    height: 20px;
}

.ast-search-box.full-screen {
    background: rgb(242 242 242);
}

.ast-search-box.full-screen .ast-search-wrapper .large-search-text {
    color: #323232;
}

.ast-search-box.full-screen .search-submit,
.ast-search-box.header-cover .search-submit {
    color: #6c6c6c;
}

.ast-search-box.full-screen #close {
    color: #323232;
}

.ast-search-box.full-screen .search-field,
.ast-search-box.header-cover .search-field {
    color: #6c6c6c;
}

.icon-close svg {
    width: 28px;
    height: 28px;
}

#wpadminbar #wp-admin-bar-user-actions.ab-submenu .ab-item {
    color: grey !important
}

.gt_float_switcher {
    font-family: Arial, sans-serif !important;
}

.post-type-archive-bp_doc .ast-blog-layout-4-grid .ast-article-post {
    width: 100% !important;
    padding-right: 0;
}

.post-type-archive-bp_doc .ast-blog-layout-4-grid .ast-article-post table,
.bp-legacy .ast-blog-layout-4-grid .ast-article-post th,
.bp-legacy .ast-blog-layout-4-grid .ast-article-post td {
    border: 1px solid lightgray;
}

div#buddypress {
    background-color: white;
    padding: 40px;
    border-radius: 40px;
}

.post-type-archive-bp_doc.archive.ast-page-builder-template .entry-header {
    margin-top: 0 !important;
}

.ast-page-builder-template article header.entry-header {
    margin-top: 0 !important;
}

.post-type-archive-bp_doc .page-title {
    margin-bottom: 0.5em !important;
}

.search-results.ast-left-sidebar #primary {
    padding-left: 0;
}

.search-results.ast-left-sidebar #primary {
    margin: 0;
}

.search-results.ast-left-sidebar #secondary {
    margin: 0 0 2.5em;
}

.post-page-numbers.current .page-link,
.ast-pagination .page-numbers.current {
    border-radius: 25px;
}

.widget_tag_cloud .tagcloud a {
    padding: 0 !important;
}

.es_subscription_form_submit.es_submit_button.es_textbox_button {
    margin-top: 15px !important;
}

.simcal-default-calendar-grid .simcal-today.simcal-day > div {
    border: 2px solid var(--ast-global-color-0) !important;
    border-radius: 5px;
}

.simcal-today span.simcal-day-label.simcal-day-number {
    background-color: var(--ast-global-color-0) !important;
    font-weight: 600;
}

.simcal-day-has-events {
    background-color: inherit !important;
    font-weight: 600;
}

.simcal-day-has-events > div > span.simcal-day-number {
    color: #000000 !important;
    background-color: #0000001a !important;
    font-weight: 200;
}

.simcal-day-has-events > div > span > b {
    color: var(--ast-global-color-0) !important;
}

.simcal-default-calendar-grid .simcal-day-has-events.simcal-day > div {
    border-radius: 5px;
}

header .custom-logo-link img {
    object-fit: contain;
}

.simcal-default-calendar-grid.simcal-default-calendar-light .simcal-day-number {
    background: #ffffff;
}

#secondary,
#secondary button,
#secondary input,
#secondary select,
#secondary textarea {
    min-height: 60px;
}

.simcal-default-calendar-grid.simcal-default-calendar-light .simcal-day-void,
.simcal-default-calendar-grid.simcal-default-calendar-light .simcal-day-void:hover {
    background-color: #ffffff;
}

th.simcal-week-day {
    padding: 0 0 10px 0 !important;
}

#ast-desktop-header > div.ast-main-header-wrap.main-header-bar-wrap > div > div > div > div.site-header-primary-section-right.site-header-section.ast-flex.ast-grid-right-section > div.ast-builder-layout-element.ast-flex.site-header-focus-item.ast-header-html-2 {
    margin-left: 10px !important;
}

h1#blog-name {
    padding-bottom: 5px;
}

.ast-logo-title-inline .site-logo-img {
    padding-right: 0 !important;
}

.widget-title {
    margin-bottom: 0;
}

p.simcal-align-right {
    margin-bottom: 0;
}

.ast-breadcrumbs {
    margin-left: 58px;
}

.site-primary-footer-wrap[data-section="section-primary-footer-builder"] {
    margin-top: 32px;
}

/* Header menu */
.ast-below-header.ast-below-header-bar {
    border-radius: 30px;
}

body.home.buddypress div.ast-below-header-bar.ast-below-header.site-header-focus-item,
body:not(.home) div.ast-below-header-bar.ast-below-header.site-header-focus-item {
    width: 98%;
    margin: 16px auto;
    position: relative;
}

body.home div.ast-below-header-bar.ast-below-header.site-header-focus-item {
    width: calc(100% - 103px);
    margin: 0 0 0 32px;
    position: absolute;
    z-index: 1;
}

#secondary li {
    line-height: 1em;
    padding-bottom: 1em;
}

.ast-breadcrumbs {
    margin-left: 54px;
}

footer.site-footer {
    margin-top: 50px;
}

.widget.widget_socialmedia_widget a {
    padding: 5px;
}

.site-main > article {
    margin-right: 20px;
}

.ast-page-builder-template .site .site-content #primary {
    margin-right: 20px !important;
}

.site-below-footer-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.archive.ast-left-sidebar #primary {
    padding-left: 0 !important;
}

.entry-title {
    margin-bottom: .2em;
}

.widget-title {
    margin-bottom: 0.5em;
}

.gt_float_switcher.notranslate:has(.gt-open) {
    border-radius: 10px !important;
}

#secondary .accordion li {
    line-height: 1em;
    padding-bottom: 0.6em;
}

div.sidebar-main li.current-menu-item {
    background-color: white !important;
}

div.sidebar-main li.current-menu-item a {
    font-weight: bold !important;
}

textarea {
    border-radius: 10px !important;
}

.ast-search-box.full-screen {
    background: rgb(242 242 242) !important;
}

.ast-search-box.full-screen .ast-search-wrapper .large-search-text {
    color: #2f2f2f !important;
}

.ast-search-box.full-screen #close {
    color: #2f2f2f !important;
}

.ast-search-box.full-screen .search-submit,
.ast-search-box.header-cover .search-submit {
    color: #2f2f2f !important;
}

.ast-search-box.full-screen .search-field,
.ast-search-box.header-cover .search-field {
    color: #2f2f2f !important;
}

div.sidebar-main .accordion a:hover {
    text-decoration: none !important;
}

.accordion li a.active {
    background-color: transparent !important;
}

.accordion li a .fa-angle-up {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    transform: none !important;
}

.xtec-stats {
    border: 1px solid #ddd;
    border-radius: 35px;
    text-align: center;
}

section.widget_xtec_stats_widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    background-color: #000000;
    color: #ffffff;
    border-radius: 30px 0 0 30px;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content-wrapper {
    margin-top: 0;
    max-width: 50%;
    display: inline-block;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--ast-global-color-0);
    background: rgba(255, 255, 255, 0.85);
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content-wrapper h2 {
    color: var(--ast-global-color-1);
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content-wrapper p {
    color: #000;
    font-size: 1.25rem
}

.wp-block-getwid-media-text-slider-slide__content {
    padding: 0;
}

#astra-nodes-header-block .wp-block-getwid-media-text-slider-slide-content__content {
    aspect-ratio: unset;
}

.wp-block-getwid-media-text-slider-slide__content {
    padding: 0;
    display: flex;
    align-items: center;
}

.fa-ul li {
    padding-bottom: 2px;
    padding-top: 2px;
}

ol.fa-ul {
    margin: 0 !important;
}

a.grid-item:hover i,
a.grid-item:hover span {
    color: white !important;
}

#astra-nodes-header-block {
    margin: -93px -5px 20px -4px;
}

.fa-ul li {
    padding-bottom: 5px;
    padding-top: 2px;
    color: var(--ast-global-color-0) !important;
}

.fa-li {
    color: var(--ast-global-color-1);
}

#front-page-cards-container {
    padding: 0 16px 0 16px;
}

body.astra-nodes-boxes #front-page-cards-container {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 32px 0 32px;
}

.home .ast-single-post.ast-page-builder-template .site-main > article {
    margin-right: 0 !important;
}

.home .ast-single-post.ast-page-builder-template .site-main {
    margin-right: 16px !important;
}

.home.astra-nodes-sidebar_boxes .site-main {
    margin-right: 0;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

body.astra-nodes-sidebar_news .site-main {
    margin-right: 0;
    margin-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
}

#front-page-notice-image {
    min-height: 350px;
    max-height: 350px;
    height: 100%;
}

ul.dropdown-menu.sub-menu {
    width: 100px;
}

.menu-item .menu-item-gtranslate-child {
    padding: 2px 0 2px 16px !important;
}

.single #main article, .page-child #main article {
    margin: 0;
}

.single .site-main, .page-child .site-main {
    margin-right: 0;
    padding-right: 0;
}

.page-child #main article {
    margin: 0 16px 0 16px;
}

h1#blog-name {
    color: hsl(from var(--ast-global-color-0) h s calc(l - 15));
}

#blog-description {
    color: hsl(from var(--ast-global-color-1) h s calc(l - 15));
}

.wp-block-getwid-post-carousel .slick-dotted.slick-slider {
    padding-bottom: 45px;
}

.category-portada #main article {
    margin: 0 0 32px 0;
}

.category-portada .site-main {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.archive.category #main article {
    margin: 0 0 32px 0;
}

.archive.category .site-main {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* GTranslate */
.gt_switcher_wrapper {
    top: 18px !important;
    right: 300px !important;
}

.logged-in .gt_switcher_wrapper {
    top: 18px !important;
    right: 350px !important;
}

select.gt_selector {
    font-size: 0.8em;
    padding: 0.2em;
    border-color: #e5e5e5;
}

#astra-nodes-header-block {
    margin: -16px -5px 20px -4px;
}

/* Ensure the Twitter widget does not make the sidebar wider */
.twitter-timeline {
    width: 352px !important;
}

/* Custom styles for block 'Column' */
.caixa-link {
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px -5px #000000;
    box-shadow: 1px 1px 8px -6px #000000;
    background-color: white;
    padding: 1.5em;
    opacity: 0.9;
}

.caixa-link a {
    text-decoration: none !important;
}

.caixa-link:hover {
    border: 5px solid #1E6770;
    cursor: pointer;
    padding: 20px;
}

.caixa {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
}

.paragraf-rodo {
    border-radius: 40px;
}

/* Header's font sizes */
h1 {
    font-size: 2em !important;
}

h2 {
    font-size: 1.7em !important;
}

h3 {
    font-size: 1.5em !important;
}

h4 {
    font-size: 1.3em !important;
}

h5 {
    font-size: 1.1em !important;
}

h6 {
    font-size: 1em !important;
}

/* Widget "Navigation Menu" */
aside.widget_nav_menu h2.widget-title {
    display: none;
}

aside.widget_nav_menu nav .sub-menu svg.ast-arrow-svg {
    display: none;
}

aside.widget_nav_menu nav ul li {
    border-bottom: 1px solid #DBDBDB;
    line-height: 1em;
    padding-bottom: 0.6em !important;
    padding-top: 0.6em;
}

aside.widget_nav_menu nav ul li a {
    color: var(--ast-global-color-1);
    font-family: sans-serif;
}

aside.widget_nav_menu .sub-menu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

aside.widget_nav_menu .sub-menu > li:last-child {
    border-bottom: none;
}

/* Remove the left margin in the post title on single post view when Astra is configured to not show
   the side bar only in that specific post */
article.post.type-post > div > header.entry-header {
    margin-left: 0;
}

@media screen and (min-width: 922px) {
    .ast-container {
        max-width: 100%;
        margin-left: 0
    }
}

@media screen and (min-width: 921px) {
    .ast-left-sidebar.ast-page-builder-template #secondary,
    .archive.ast-right-sidebar.ast-page-builder-template .site-main {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 921px) {

    .home #primary {
        margin-top: 80px !important;
    }

    div#content {
        margin-left: 0 !important;
        margin-right: 16px !important;
    }

    .ast-page-builder-template.ast-left-sidebar #secondary {
        padding-right: 0 !important;
    }

    #front-page-cards-container {
        padding: 16px 16px 0 16px;
    }

    body.astra-nodes-boxes #front-page-cards-container {
        padding: 78px 16px 0 16px;
    }

    #astra-nodes-header-block {
        padding: 0 21px;
    }

    #wpadminbar {
        padding: 10px 16px 10px 16px;
    }

    div#slider-height-container {
        display: none;
    }

    .ast-site-title-wrap {
        display: flex;
    }

    header .custom-logo-link img {
        max-width: 125px;
        padding-left: 10px;
    }

    .home .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
        border-radius: 30px !important;
        margin-bottom: 0 !important;
    }

    .ast-mobile-header-content.content-align-flex-start {
        margin-bottom: 16px;
    }

    .ast-site-title-wrap {
        flex-direction: column;
    }

    #main article {
        margin: 0 16px 16px 16px;
    }

    #front-page-notice-container {
        display: flex;
        height: auto !important;
        margin: 16px 16px 16px 16px;
        border-radius: 30px;
    }

    #front-page-news-carousel-container {
        padding: 0 2px 0 16px;
    }

    .ast-mobile-header-content.content-align-flex-start {
        margin-left: 16px;
        margin-right: 16px;
        border-radius: 0 0 30px 30px;
        padding-bottom: 16px;
    }

    .home.ast-main-header-nav-open .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item,
    .ast-main-header-nav-open .ast-primary-header-bar.ast-primary-header.main-header-bar.site-header-focus-item {
        border-radius: 30px 30px 0 0 !important;
    }

    .ast-desktop .ast-primary-header-bar.main-header-bar,
    .ast-header-break-point #masthead .ast-primary-header-bar.main-header-bar {
        margin-bottom: 0;
    }

    body:not(.home) .detail-container.mobile {
        display: none;
    }

    body:not(.home) div.ast-breadcrumbs-wrapper {
        margin-top: 20px !important;
    }

    .ast-breadcrumbs {
        margin-left: 18px;
    }

    html:not(.logged-in).ast-header-break-point #ast-mobile-header {
        margin-top: 54px !important;
    }

    html .logged-in {
        margin-top: 40px !important;
    }

    .ast-header-break-point #ast-mobile-header {
        margin-top: 54px !important;
    }

    html {
        margin-top: 6px !important;
    }

    html:has(.logged-in) {
        margin-top: 6px !important;
    }

    html body.logged-in #wpadminbar .quicklinks ul#wp-admin-bar-root-default {
        display: grid;
        border-collapse: collapse;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    html:not(.logged-in) #wpadminbar .quicklinks ul#wp-admin-bar-root-default {
        display: grid;
        border-collapse: collapse;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .wp-block-columns .wp-block-column:not(:last-child) {
        margin-bottom: 20px;
    }

    #front-page-notice-image-container {
        padding-right: 16px;
        margin-bottom: 0;
    }

    #front-page-notice-image {
        border-radius: 30px 30px 0 0;
    }

    #front-page-notice-text {
        border-radius: 0 0 30px 30px;
        margin-right: 16px;
    }

    .site-title a,
    .site-title a:focus,
    .site-title a:hover,
    .site-title a:visited {
        color: var(--ast-global-color-1);
    }

    header .custom-logo-link img {
        display: none;
    }

    .site-header-primary-section-left.site-header-section.ast-flex.site-header-section-left {
        margin-left: 20px;
    }

    [data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
        width: 25px;
        height: 25px;
    }

    html {
        margin-top: 6px;
    }

    html:has(.logged-in) {
        margin-top: 6px;
    }

    .ast-breadcrumbs {
        margin-left: 0;
    }

    .home div#content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .home #front-page-news-carousel-container {
        padding: 0 32px 0 32px;
    }

    #front-page-notice-image-container {
        padding-right: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .home.astra-nodes-sidebar_boxes #front-page-cards-container {
        margin-top: 0;
    }

    .home.astra-nodes-sidebar_boxes .site-main {
        margin-top: 75px;
    }

    .home.ast-page-builder-template.ast-left-sidebar #secondary {
        padding-right: 16px !important;
    }

    .home.ast-page-builder-template.ast-left-sidebar #front-page-notice-image {
        border-radius: 30px 30px 0 0;
    }

    /* GTranslate */
    .gt_switcher_wrapper {
        top: 45px !important;
        right: 16px !important;
    }

    .logged-in .gt_switcher_wrapper {
        top: 45px !important;
        right: 16px !important;
    }

}

@media screen and (max-width: 782px) {

    #wpadminbar .quicklinks ul {
        text-align: left;
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    footer #contact-info-1-wrapper {
        text-align: left;
        line-height: 1.7rem;
        font-size: 1.3rem;
    }

    ul#wp-admin-bar-resources_xtec-default {
        display: flex !important;
        flex-direction: column;
    }

    #wp-admin-bar-resources_xtec {
        text-align: center;
    }

    #wp-admin-bar-bp-login {
        text-align: right;
    }

    html #wpadminbar {
        height: 45px;
    }

    #wp-admin-bar-logo-educacio-wrapper,
    #wp-admin-bar-resources_xtec {
        display: block !important;
    }

    .ast-header-break-point #ast-mobile-header {
        margin-top: 45px !important;
    }

    .ast-post-format-.single-layout-1 {
        padding: 0 !important;
    }

    #wpadminbar {
        padding: 0 16px 10px 16px !important;
    }

    html .logged-in #wpadminbar {
        padding: 12px 16px 10px 16px !important;
    }

    html .logged-in {
        margin-top: 20px !important;
    }

    :where(body .is-layout-flex) {
        gap: 0;
    }

    .grid-item.grid-item-1 {
        border-radius: 30px 0 0 0;
    }

    .grid-item.grid-item-4 {
        border-radius: 0 0 0 30px;
    }

    .detail-container {
        position: relative;
        margin-right: 0;
        padding: 16px;
    }

    .grid-item #header-button-1,
    .grid-item #header-button-2,
    .grid-item #header-button-3,
    .grid-item #header-button-4,
    .grid-item #header-button-5,
    .grid-item #header-button-6 {
        font-size: 7.5vw;
    }

    .grid-item.grid-item-6 {
        border-radius: 0 0 30px 0 !important;
    }

    html {
        margin-top: 0 !important;
    }

    html .logged-in #wpadminbar {
        padding: 6px 16px 10px 16px !important;
    }

    #wpadminbar .quicklinks ul#wp-admin-bar-root-default {
        display: grid;
        border-collapse: collapse;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #wp-admin-bar-logo-educacio-wrapper {
        grid-area: 1 / 1 / 2 / 3 !important;
    }

    #wp-admin-bar-resources_xtec {
        grid-area: 1 / 3 / 2 / 5 !important;
    }

    #wp-admin-bar-site-name {
        grid-area: 2 / 1 / 3 / 2 !important;
    }

    #wp-admin-bar-customize {
        grid-area: 2 / 2 / 3 / 3 !important;
    }

    #wp-admin-bar-comments {
        grid-area: 2 / 3 / 3 / 4 !important;
    }

    #wp-admin-bar-new-content {
        grid-area: 2 / 4 / 3 / 5 !important;
    }

    #wp-admin-bar-edit {
        grid-area: 2 / 5 / 3 / 6 !important;
    }

    .ast-header-break-point #ast-mobile-header {
        margin-top: 82px !important;
    }

    #wpadminbar ul#wp-admin-bar-root-default > li {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    header .custom-logo-link img {
        max-width: 100px;
    }

    #wpadminbar.mobile .quicklinks .ab-icon:before, #wpadminbar.mobile .quicklinks .ab-item:before {
        color: #848484;
    }

    #wpadminbar .quicklinks ul#wp-admin-bar-top-secondary {
        display: unset !important;
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .pojo-a11y-toolbar-toggle {
        display: none;
    }

    #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
        width: 70vw;
        right: 0;
        min-width: auto !important;
    }

    #wpadminbar .ab-top-menu > #wp-admin-bar-site-name > .ab-sub-wrapper {
        width: auto;
    }

    footer #contact-info-1-wrapper {
        margin-left: 32px;
        margin-top: 32px;
    }

    footer .widget_socialmedia_widget {
        text-align: center;
    }

}

@media screen and (max-width: 600px) {

    #wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
        left: unset !important;
    }

}

@media screen and (min-width: 1600px) {

    body {
        margin-right: auto;
        margin-left: auto;
        max-width: 1600px;
    }

    #wpadminbar {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        left: auto;
    }

}

@media screen and (max-width: 921px) {

    #wp-admin-bar-login-link-admin-bar {
        display: block !important;
        top: 35px;
        right: 9px;
    }

    .gt_switcher_wrapper {
        top: 80px !important;
    }

    .ast-header-break-point #ast-mobile-header {
        margin-top: 124px !important;
    }

    #wpadminbar li#wp-admin-bar-login-link-admin-bar > .ab-item::before {
        margin-top: 13px;
        margin-right: 7px;
    }

    div[id^="gt-wrapper-"] > div {
        left: 15px;
        top: 50px !important;
    }

    .gtranslate_wrapper > div > select {
        position: absolute;
        left: 16px;
        top: 52px;
        z-index: 100000;
    }

    .gtranslate_wrapper > div {
        position: inherit !important;
    }

    ul#wp-admin-bar-root-default li:not(#wp-admin-bar-logo-educacio-wrapper):not(#wp-admin-bar-resources_xtec) {
        margin-top: 17px;
    }

}
